
.activies-banner {
    background-image: url("/Resources/images/activities-banner-6.jpg");
    width: 100%;
    height: 400px;
}

.event-row{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.column{
    padding: 1%;
    flex: 33.33%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: white;

}
.column img {
    opacity: 1;
    cursor: pointer;
}
.column img:hover{
    opacity:0.5;
}

.bottom-left {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-weight: 800;
    font-size:12pt;
}

/*********Graduate Program**************/

.gradProg {
    box-sizing: border-box;
}

.gradProgCol {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}

.gradProgRow:after {
    content: "";
    display: table;
    clear: both;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


