
.activies-banner {
    background-image: url("/Resources/images/activities-banner-6.jpg");
    width: 100%;
    height: 400px;
}

.event-row{
    display: flex;
}

.column{
    padding: 5px;
    flex: 33.33%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    color: white;

}
.column img {
    opacity: 1;
    cursor: pointer;
}
.column img:hover {
    opacity: 0.6;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
    font-weight: 800;
    font-size:16pt;
}
=========================================
/*********Graduate Program**************/

.gradProg {
    box-sizing: border-box;
}

.gradProgCol {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.gradProgRow:after {
    content: "";
    display: table;
    clear: both;
}
