/*----------------------------------------*/

/*------------BASIC SETUP-----------------*/

/*----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*
.clearfix{ zoom:1}
.clearfix:after {

    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}*/

/*----------------------------------------*/

/*------------REUSABLE CODE-----------------*/

/*----------------------------------------*/

.row {
    background-color: #555;
    max-width:100%;
    margin: 0 auto;

}

.ISU-menu {
    padding: 0 100px;
}

/* Main-nav*/

.main-nav {
    flex: 80%;
    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav li {

    display: inline-block;
    margin-left: 30px;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {

    border-bottom: 2px solid #e67e22
}



.main-nav-2 {

    text-align: center;
    list-style: none;
    padding: 10px 0;

}

.main-nav-2 li {

    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 5px;
    font-size: 11pt
}

.main-nav-2 li a:link,
.main-nav-2 li a:visited {
    padding: 8px 0;
    /*    color: #fff8dc;*/
    color: #8AA23B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav-2 li a:hover,
.main-nav-2 li a:active {

    /*border-bottom: 2px solid #e67e22*/
    border-bottom: 2px solid #A2BA39
}

/* Header */

.logo {
    flex: 20%;
    padding: 0.1% 4%;
    height: 40px;
    width: auto;
    float: left;
    margin-top: 5px;
}


.logo-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.IBA-header {
    background-color: white;
    overflow: hidden;
}

.IBA-menu {
    background-color: whitesmoke;
}

.section-images {

    background-color: #000;
    /*border: 2px solid #000;*/
}



.mySlides {
    max-height: 490px;
    max-width: 1600px;
}




/*Introduction*/

.section-intro {
    background-color: #e2e0e0;
    padding: 10px;
}

.intro-header {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border-bottom: 1px solid #000;
}


section div p {
    text-align: justify;
    margin: 15px;
    color: #000;
}


.map {
    width: 100%;
    height: 500px;

}



/* Events*/

.event-box {
    /*border: 1px solid #000;*/
    text-align: center;
    color: #fff;
}




/* Member*/

.member-box {
    border: 1px solid #000;
    text-align: center;
    color: #fff;
}

/*Rishi*/

.u-grey-checkered {

    background: url(//cdn.illinoisstate.edu/special/patterns/squares-neutral.jpg) repeat 0 0;

}

.sec3 {
    text-align: center;

}

.btn {
    display: inline-block;
    margin: 10px 30px;
    padding: 10px 30px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 100px;
    color: red;
}

.normal-btn {

    background-color: white;
    border: 2px solid red;

}



/----------/
.footer_sec1 {
    text-align:left;
}

.footer_sec1_div1 {
    padding: 10px 10px 10px 10px;
}

.footer_list {
    list-style-type: none;
    text-decoration: underline
}
.footer_list li a:link,
.footer_list li a:visited {
    padding: 8px 0;
    color:red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:500;
    font-size: 90%;
}

.footer_list li a:hover,
.footer_list li a:active {

    color: #a80f0f;
}


